{% extends "base.html.twig" %}

{% block title %}
	Add Movie
{% endblock %}

{% block head %}{% endblock %}

{% block content %}
	<div class="card m-2 py-5 d-flex align-items-center shadow w-100">
		<form class="w-75" action="addMovie" method="post">
			<div class="form-group mt-2">
				<label for="title">Title</label>
				<input type="text" class="form-control" name="title">

			</div>
			<div class="form-group mt-2">
				<label for="description">Description</label>
				<input type="text" class="form-control" name="description">
			</div>
			<div class="form-group mt-2">
				<label for="duration">Duration</label>
				<input type="text" class="form-control" name="duration">
			</div>
			<div class="form-group mt-2">
				<label for="date">Date</label>
				<input type="date" class="form-control" name="date">
			</div>
			<div class="form-group mt-2">
				<label for="cover_image">Image</label>
				<input type="text" class="form-control" name="cover_image">
			</div>
			<div class="form-group mt-2">
				<label for="genre_id">Genre</label>
				<select class="form-select" aria-label="genre" name="genre_id">
					{% for genre in genres %}
						<option value="{{genre.id}}">{{genre.name}}</option>
					{% endfor %}
				</select>
			</div>
			<div class="form-group mt-2">
				<label for="director_id">Director</label>
				<select class="form-select" aria-label="director" name="director_id">
					{% for director in directors %}
						<option value="{{director.id}}">{{director.first_name}}
							{{director.last_name}}</option>
					{% endfor %}
				</select>
			</div>
			 <div class="form-group mt-2">
								<label for="actor">Actors</label>
							</br>
							{% for actor in actors %}
								<div class="form-check mt-4 form-check-inline">
									<input class="form-check-input" type="checkbox" id="inlineCheckbox{{actor.id}}" value="{{actor.id}}">
									<label class="form-check-label" for="inlineCheckbox{{actor.id}}">{{actor.first_name}}{{actor.last_name}}</label>
								</div>
							{% endfor %}
							</div> 
			<button type="submit" class="btn m-4 btn-dark">Submit</button>
		</form>
	</div>
{% endblock %}
